@model Ecommerce.Web.Models.Direccion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Direccion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewDireccion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altura" class="control-label"></label>
                <input asp-for="Altura" class="form-control" />
                <span asp-validation-for="Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barrio" class="control-label"></label>
                <input asp-for="Barrio" class="form-control" />
                <span asp-validation-for="Barrio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partido" class="control-label"></label>
                <input asp-for="Partido" class="form-control" />
                <span asp-validation-for="Partido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinciaId" class="control-label"></label>
                <select asp-for="ProvinciaId" class="form-control" asp-items="ViewBag.SelectProvincia"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocalidadId" class="control-label"></label>
                <select asp-for="LocalidadId" class="form-control" asp-items="ViewBag.SelectLocalidad"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>
    $(document).ready(function () {
        $('#ProvinciaId').change(function () {
            var provinciaId = $(this).val();
            $.getJSON('../ListaLocalidades', { provinciaId }, function (data) {
                var localidadDropdown = $('#LocalidadId');
                localidadDropdown.empty();
                $.each(data, function (index, item) {
                    localidadDropdown.append($('<option>', {
                        value: item.localidadId,
                        text: item.descripcion
                    }))
                });
            })
        }
        )
    }
    )

</script>